.wp-block-cover {
	background-size: cover !important;

	&__background {
		width: 100% !important;
		max-width: 100% !important;
	}
}

.wp-block-cover .wp-block-cover__inner-container,
.wp-block-cover.is-light .has-background-dim:not([class*=-background-color]) + .wp-block-cover__inner-container {
	color: var(--wp--preset--color--white, #fff);
}

.wp-block-cover .has-background-dim:not([class*=-background-color]) {
	background-color: var(--wp--preset--color--neutral-900, #000);
}

.wp-block-cover.is-light .wp-block-cover__inner-container {
	color: var(--wp--preset--color--neutral-900, #000);
}
