.wp-block-group[style*="min-height"] {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
}

// Gutenberg override.
:where(.wp-block-group.has-background) {
	padding: 0;
}

// Site editor.
main.wp-block-group {
	overflow-x: hidden;
}
