figure.wp-block-image {
	text-align: center;
	margin-left: 0;
	margin-right: 0;

	&.aligncenter {
		display: block !important;
	}

	img {
		display: block;
		height: auto;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

.wp-block-image:not(.is-style-icon,.is-style-placeholder) {
	border: 0 !important;
}

.is-style-icon {
	border: 0 !important;

	img,
	figcaption {
		display: none !important;
	}
}

