@media (max-width: 782px) {

	.open-on-click {
		margin-bottom: var(--wp--style--block-gap, 1em) !important;

		.wp-block-navigation-submenu__toggle {

			.wp-block-navigation__submenu-icon {
				display: flex !important;
				width: 2em;
			}

			& ~ .wp-block-navigation__submenu-container {
				display: none !important;
			}

			&[aria-expanded="true"] ~ .wp-block-navigation__submenu-container {
				display: flex !important;
			}
		}
	}
}
