$navigation_padding: calc(var(--wp--style--block-gap, 1em) / 2);

.wp-block-navigation {

	// 782px hardcoded in core.
	@media (max-width: 782px) {
		& {
			font-size: 1em;
		}
	}
}

nav .wp-block-navigation-item__label,
.wp-block-navigation-item__content,
.wp-block-navigation-link__placeholder-text {
	white-space: nowrap !important;
}

.wp-block-navigation:not(.is-responsive) {
	margin: auto;
}

.wp-block-navigation__submenu-container {
	border: none;

	.wp-block-navigation-item:last-of-type {
		padding-bottom: 0;
	}

	// 782px hardcoded in core.
	@media (max-width: 783px) {
		gap: var(--wp--custom--submenu--gap) !important;
		padding: $navigation_padding 0 0 !important;
	}

	// 782px hardcoded in core.
	@media (min-width: 783px) {
		padding: $navigation_padding var(--wp--style--block-gap) !important;
	}
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
	background: var(--wp--custom--submenu--background, var(--wp--custom--body--background, inherit));
	color: var(--wp--custom--submenu--color, inherit);
	border: var(--wp--custom--submenu--border, 0);
}

.wp-block-navigation .has-child .wp-block-navigation-submenu__toggle[aria-expanded=true] ~ .wp-block-navigation__submenu-container,
.wp-block-navigation .has-child:not(.open-on-click):hover > .wp-block-navigation__submenu-container,
.wp-block-navigation .has-child:not(.open-on-click):not(.open-on-hover-click):focus-within > .wp-block-navigation__submenu-container {
	min-width: var(--wp--custom--submenu--min-width, 100%);
}

.wp-block-navigation__container {
	display: flex;
	gap: 0;
}

@media (min-width: 781px) {
	.wp-block-page-list {
		gap: 0;
	}
}

// Editor specificity.
.wp-block-navigation .wp-block-navigation-submenu {
	background: transparent !important;
	padding: 0 !important;
}

.wp-block-navigation-submenu__toggle {
	font-weight: inherit;
}

.wp-block-navigation .wp-block-navigation__submenu-container {
	padding-top: calc(var(--wp--style--block-gap) / 2);
	padding-bottom: calc(var(--wp--style--block-gap) / 2);

	.wp-block-navigation-item__content {
		padding: 0;
	}
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
	color: inherit;
}

.is-vertical .has-child :where(.wp-block-navigation__submenu-container) {
	position: relative;
	height: auto;
	opacity: 1;
	visibility: visible;
	width: 100%;
	background-color: transparent !important;
}

.is-vertical .wp-block-navigation__submenu-icon {
	display: none;
}

.wp-block-navigation__responsive-container.is-menu-open {
	padding: 1.5em;
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
	background: var(--wp--custom--body--background, #fff);
	color: currentColor; // #000 hardcoded in core.
}

// TODO: Remove when merged into core or Gutenberg active.
.has-modal-open .admin-bar .wp-block-navigation__responsive-dialog {
	margin-top: 46px;
}

// Theme.json doesn't work.
.wp-block-navigation ul li.wp-block-navigation-item {
	margin-bottom: 0;
	padding: $navigation_padding; // Override core 0px.

	.wp-block-navigation-item {
		padding-left: 0;
		padding-right: 0;
	}
}

.is-vertical .wp-block-navigation-item__content {
	padding: .5em 0;
}

.is-style-mega-menu {
	--wp--custom--submenu--columns: 2;
}

.is-style-mega-menu .wp-block-navigation__submenu-container {
	display: block;
	columns: var(--wp--custom--submenu--columns);
}

.wp-block-navigation-item[class*="is-style-columns-"]:not(.is-style-columns-1) {
	position: static;
}

.wp-block-navigation.items-justified-right .wp-block-navigation__submenu-container {
	right: auto !important;
}



// Reset needed as default is too low (600px).
@media (min-width: 600px) {
	.wp-block-navigation__responsive-container-open:not(.always-shown) {
		display: flex;
	}

	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) .wp-block-navigation__responsive-container-close {
		display: flex;
	}

	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
		display: none;
		width: initial;
		position: initial;
		z-index: auto;
		background-color: inherit;
	}
}

// Use same breakpoint as columns block for consistency.
// TODO: Allow custom breakpoint.
@media (min-width: 781px) {
	.wp-block-navigation {
		font-size: smaller; // Theme.json not working.
	}

	.wp-block-navigation__responsive-container-open:not(.always-shown) {
		display: none;
	}

	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) .wp-block-navigation__responsive-container-close {
		display: none;
	}

	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
		display: block;
		width: 100%;
		position: relative;
		z-index: auto;
		background-color: inherit;
	}

	.wp-block-navigation-link:after {
		display: block;
		content: var(--wp--custom--navigation-separator--content, '');
		margin: var(--wp--custom--navigation-separator--margin, 0 0 0 1em);
	}

	.wp-block-navigation-link:last-of-type:after {
		display: none
	}
}
