p {

	&.has-background:not(.has-text-color) {
		padding: 0;
		-webkit-background-clip: text !important;
		-webkit-text-fill-color: transparent;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}
}

.has-drop-cap:not(:focus):first-letter {
	font-size: 5.5em;
}

.is-style-sub-heading {
	font-size: var(--wp--custom--sub-heading--font-size);
	line-height: var(--wp--custom--sub-heading--line-height);
	font-weight: var(--wp--custom--sub-heading--font-weight);
	text-transform: var(--wp--custom--sub-heading--text-transform);
	letter-spacing: var(--wp--custom--sub-heading--letter-spacing);
}
