.wp-block-search {
	display: flex;
	flex-wrap: wrap;
}

.wp-block-search__button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin: 0;
	height: calc(1em + var(--wp--custom--button--padding-top, 1em) + var(--wp--custom--button--padding-bottom, 1em) + (var(--wp--custom--border--width, 1px) * 2));
	min-width: calc(1em + var(--wp--custom--button--padding-top, 1em) + var(--wp--custom--button--padding-bottom, 1em) + (var(--wp--custom--border--width, 1px) * 2));

	padding: var(--wp--custom--button--padding-top, 1em) var(--wp--custom--button--padding-right, 1em) var(--wp--custom--button--padding-bottom, 1em) var(--wp--custom--button--padding-left, 1em) !important; // Core...
	border-radius: var(--wp--custom--button--border-radius, inherit);

	// Gutenberg .wp-element-button workaround. Also used by input.
	color: var(--wp--custom--button--color, inherit);
	background: var(--wp--custom--button--background, inherit);
	border-width: var(--wp--custom--button--border-width);
	font-size: var(--wp--custom--button--font-size);
	font-weight: var(--wp--custom--button--font-weight);
	line-height: var(--wp--custom--button--line-height);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	border: 0;
	padding: 0;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
	padding: var(--wp--custom--input--padding, 0.5em 1em);
	border: var(--wp--custom--border--width) var(--wp--custom--border--style) var(--wp--custom--border--color);
	border-radius: var(--wp--custom--border--radius);
}

.wp-block-search__inside-wrapper {
	gap: var(--wp--style--block-gap, 1em);
}

.is-style-toggle {

	.wp-block-search__button {
		z-index: 10; // Core inside wrapper hardcoded.
		padding: 0 !important;
	}

	.wp-block-search__button:not(.has-background) {
		padding: 0;
		color: currentColor !important;
		background: inherit;
	}

	.wp-block-search__inside-wrapper {
		position: fixed;
		inset: 0;
		max-width: none;
		background: var(--wp--custom--body--background);
		color: var(--wp--custom--body--color);
		z-index: 9;
		align-items: center;
		align-content: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.wp-block-search__input {
		color: inherit;
		max-width: var(--wp--custom--layout--content-size);
		margin-left: auto;
		margin-right: auto;
	}
}

.wp-block-search__input {
	margin-bottom: 0 !important;
}

.wp-block-search__checkbox {
	display: none;
}

.wp-block-search__checkbox:not(:checked) {

	~ .wp-block-search__inside-wrapper {
		display: none;
	}
}

.close-icon {
	display: none;
}

.wp-block-search__checkbox:checked {

	~ .wp-block-search__button {
		z-index: 10;
		position: fixed;
		top: 5vh;
		right: 5vw;

		.search-icon {
			display: none;
		}

		.close-icon {
			display: block;
			pointer-events: none;
			z-index: 11;
			height: 1em;
			width: 1em;
		}
	}
}
