.wp-block-site-logo {
	color: var(--wp--preset--color--grey-darker);
}

.custom-logo-link  {
	display: block;

	svg {
		width: 100%;
		fill: currentColor;
	}
}

.is-style-icon {
	.components-placeholder__fieldset {
		display: none;
	}
}
