node_modules/
wp/
wp-content/
build/
src/
vendor/bin
vendor/tgmpa/tgm-plugin-activation/languages
vendor/tgmpa/tgm-plugin-activation/plugins
vendor/tgmpa/tgm-plugin-activation/*.md
vendor/tgmpa/tgm-plugin-activation/*.json
vendor/tgmpa/tgm-plugin-activation/example.php
*.zip
*.lock
*cache
package-lock.json
composer.lock
bun.lockb
