node_modules
vendor/bin
vendor/composer/LICENSE
vendor/dealerdirect
vendor/squizlabs
vendor/phpcsstandards
vendor/wp-coding-standards
vendor/wptt/webfont-loader/.gitattributes
vendor/wptt/webfont-loader/README.md
vendor/wptt/webfont-loader/LICENSE
vendor/wptrt/admin-notices/LICENSE
vendor/wptrt/admin-notices/readme.md
wp/
wp-content
templates/single-block_pattern.html
assets/tsx
./src
tests
*.zip
*.lock
*cache
package-lock.json
composer.lock
bun.lockb
