*.lock export-ignore
.editorconfig export-ignore
.eslintrc export-ignore
.eslintrc.cjs export-ignore
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
.typos.toml export-ignore
.wordpress-org/ export-ignore
LICENSE export-ignore
README.md export-ignore
README.md export-ignore
composer.json export-ignore
composer.lock export-ignore
languages/ export-ignore
node_modules/ export-ignore
package-lock.json export-ignore
package.json export-ignore
phpcs.xml export-ignore
phpstan.neon.dist export-ignore
readme.txt export-ignore
src/ export-ignore
tests/ export-ignore
tsconfig.json export-ignore
vendor/ export-ignore
webpack.config.js export-ignore
webpack.config.blocks.js export-ignore
wp-content/ export-ignore
.phpunit.result.cache export-ignore
phpunit.xml export-ignore
