.editorconfig export-ignore
.eslintrc export-ignore
.eslintrc.cjs export-ignore
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
.typos.toml export-ignore
.wordpress-org/ export-ignore
README.md export-ignore
phpcs.xml export-ignore
phpstan.neon.dist export-ignore
src/ export-ignore
tests/ export-ignore
tsconfig.json export-ignore
webpack.config.js export-ignore
