includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 5
	paths:
		- functions.php
		- includes/
		- patterns/
		- wp-content/
	excludePaths:
		# @FIXME This file is a type-disaster.
		- wp-content/wp-sqlite-db/src/db.php
	#ignoreErrors:
