@import "../abstracts/align-wide";
@import "../abstracts/align-full";

.wp-site-blocks {
	display: var(--wp--custom--site-blocks--display, grid);
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
	width: 100%;
	min-height: var(--wp--custom--site-blocks--min-height, 100vh);
	overflow-x: var(--wp--custom--site-blocks--overflow-x);
}

.wp-site-blocks > * + * {
	margin-top: 0 !important;
}

// TODO: Move utility classes to conditionals.
.margin-auto {
	margin: auto !important;
}

.margin-top-auto {
	margin-top: auto !important;
}

.margin-left-auto {
	margin-left: auto !important;
}

.margin-right-auto {
	margin-right: auto !important;
}

.margin-bottom-auto {
	margin-bottom: auto !important;
}

.no-margin {
	margin: 0 !important;
}

.nowrap {
	white-space: nowrap !important; // !important for editor.

	// 600px core default breakpoint for .wp-block-post-template columns.
	@media (max-width: 599px) {

		[class*="columns-"] {
			display: grid;
			grid-template-columns: repeat(var(--columns), 1fr);
		}
	}
}

.wrap {
	white-space: normal;
	flex-wrap: wrap;
}

.flex {
	display: flex;
}

.justify-center {
	justify-content: center;
}

.height-100 {
	height: 100%;
}

[style*="border-"] {
	border-color: var(--wp--custom--border--color);
}

[onclick] {
	cursor: pointer;
}

// TODO: clean up.
.cursor-pointer {
	cursor: pointer;
}

.align-content-center {
	align-content: center;
}

.align-stretch {
	align-items: stretch;
	align-self: stretch;
}

.object-fit {
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
}

header,
footer,
main {

	> .alignfull {

		@include alignfull;
	}
}
