@import "../abstracts/box-shadow";

[style*='--wp--custom--box-shadow--'] {
	position: relative;
	overflow: visible;

	&:not(.wp-block-button):before {
		@include box-shadow;
	}

	&:not(.is-style-icon):after {
		content: '';
		display: block;
		position: absolute;
		inset: 0;
		background: inherit;
		border-radius: inherit !important;
		z-index: -1 !important;
		pointer-events: none;
	}

	&.wp-block-button {
		opacity: 0.999 !important;
	}

	> .wp-block-button__link {
		position: relative;
		overflow: visible;

		&:before {
			@include box-shadow;
		}
	}

	.components-placeholder {
		overflow: visible;
	}
}

.is-style-icon[style*='--wp--custom--box-shadow--'] {

	&:before {
		display: none;
	}

	> div:before {
		@include box-shadow;
	}
}
