// 781px hardcoded in core.
@media (max-width: 781px) {
	.is-reverse-mobile {
		flex-direction: column-reverse;
	}

	.is-nowrap.is-reverse-mobile {
		flex-direction: row-reverse;
	}

	.is-center-mobile {
		justify-content: center !important; // !important is needed to override core.
		text-align: center;
	}

	.is-hide-mobile {
		display: none !important; // !important is needed for rows etc.
	}
}
