.is-style-placeholder {
	display: block;
	border: var(--wp--custom--border, 1px solid #ddd);
	border-radius: var(--wp--custom--border--radius, 0);
	position: relative;
	aspect-ratio: var(--wp--custom--placeholder--aspect-ratio, 1/1);
	overflow: hidden;
	padding: 0 !important;
	width: 100%;

	&:not([style*="border-width"]) {
		border-width: var(--wp--custom--border--width, 1px) !important;
	}

	&:not(.alignwide) {
		max-width: 100%;
	}

	img,
	figcaption {
		display: none !important;
	}

	> div,
	&:after {
		$borderWidth: calc(var(--wp--custom--border--width, 1px) / 2);

		content: '';
		position: absolute;
		inset: 0;
		background: linear-gradient(to bottom left, transparent, transparent calc(50% - #{$borderWidth}), var(--wp--custom--border--color) calc(50% - #{$borderWidth}), var(--wp--custom--border--color) calc(50% + #{$borderWidth}), transparent calc(50% + #{$borderWidth}), transparent);
	}
}
