:root {
	--wp--custom--font-stack--sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	--wp--custom--font-stack--serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--wp--custom--font-stack--monospace: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

html {
	max-width: calc(100vw - var(--wp--custom--scrollbar-width));
	padding: 0 !important;
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-animation: fade-in var(--wp--custom--transition);
	-moz-animation: fade-in var(--wp--custom--transition);
	-o-animation: fade-in var(--wp--custom--transition);
	animation: fade-in var(--wp--custom--transition);

	@media (prefers-reduced-motion: no-preference) {
		& {
			scroll-behavior: smooth;
		}
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0 !important;
}

a {
	transition: var(--wp--custom--transition, inherit);
}

a:not(.wp-element-button,.wp-block-button__link,.wp-block-navigation-item__content,[rel="home"],[role="textbox"],[target="_self"]) {
	box-shadow: 0 0.05em 0 currentColor
}

mark {
	border-radius: inherit;
	padding: 0.1em;
}

ol, ul {
	padding-left: 1em;
}

li {
	margin-bottom: var(--wp--style--block-gap, 1em);
}

label {
	display: block;
}

fieldset {
	padding: var(--wp--style--block-gap, 0);
	border: var(--wp--custom--border, 0);
}

input,
optgroup,
select,
textarea {
	font: inherit;
	transition: var(--wp--custom--transition, inherit);
	border: var(--wp--custom--border, 0);
}

input:not([type=checkbox], [type=submit]) {
	padding: 1em;
	width: 100%;
	background-color: transparent;
	border: var(--wp--custom--border, initial);
	border-radius: var(--wp--custom--border--radius);
}

input[type=submit] {
	border: 0;
	width: 100%;
}

::placeholder {
	color: inherit;
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.5;
}

sup,
sub {
	font-size: var(--sup--font-size, .5em);
}

sub {
	vertical-align: var(--sub--vertical-align, baseline);
}

pre,
code {
	font-family: var(--wp--preset--font-family--monospace);

	p {
		white-space: normal;
	}
}

blockquote {
	margin-left: 0;
	margin-right: 0;
}

big {
	font-size: large;
}

small {
	font-size: small;
}

table {
	width: 100%;
	border: var(--wp--custom--border);
}

tr {

	&:nth-of-type(even) {
		background-color: var(--wp--preset--color--neutral-50);
	}
}

th, td {
	padding: 1em;
}

.wp-site-blocks {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: var(--wp-site-blocks--min-height, 100vh);
}

.wp-site-blocks > * + * {
	margin-top: 0 !important;
}

.alignfull {
	margin-left: calc(50% - (50vw - (var(--wp--custom--scrollbar-width) / 2))) !important;
	margin-right: calc(50% - (50vw - (var(--wp--custom--scrollbar-width) / 2))) !important;
}

.alignwide {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--wp--custom--layout--wide-size, 1200px);
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.inherit-layout > *:not(.alignfull,.alignwide) {
	max-width: var(--wp--custom--layout--content-size);
}

[style*='--wp--custom--layout--content-size'] > *:not(.alignfull,.alignwide) {
	max-width: var(--wp--custom--layout--content-size);
}

[style*='--wp--custom--layout--content-size'] > *:not([class*=' align']) {
	margin-left: auto;
	margin-right: auto;
}

/**
 * Elements.
 */

.wp-element-button {
	position: relative;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	white-space: pre;
	width: var(--wp--custom--button--width, auto);
	transition: var(--wp--custom--transition, inherit);
	background-clip: padding-box !important; // Semi transparent borders.

	br + span {
		width: 100%;
		margin-top: .5em;
	}

	&:not(.has-text-color) {
		color: #fff !important; // Core override.
	}

	.is-style-secondary &:not(.has-background) {
		background: var(--wp--preset--color--secondary-600, var(--wp--preset--color--primary-100));
		border-color: var(--wp--preset--color--secondary-600, var(--wp--preset--color--primary-100));
	}

	.is-style-secondary &:not(.has-text-color) {
		color: var(--wp--preset--color--secondary-100, var(--wp--preset--color--primary-600)) !important;
	}

	.is-style-outline & {
		border-width: var(--wp--custom--button-outline--border-width, 2px);
		border-color: currentColor;
		line-height: calc(1em - (var(--wp--custom--button-outline--border-width, 2px) * 2));
	}

	.is-style-outline &:not(.has-text-color) {
		color: var(--wp--preset--color--primary-600, currentColor) !important;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: var(--wp--preset--color--white, #fff);
		opacity: 0;
		border-radius: inherit;
		transition: var(--wp--custom--transition);
		pointer-events: none;
	}

	&:active,
	&:hover,
	&:focus {

		&:before {
			opacity: 0.2;
		}
	}
}

// Allows primary color to be gradient.
.has-primary-background-color {
	background: var(--wp--preset--color--primary);
}

.admin-bar {
	--wp-site-blocks--min-height: calc(100vh - 46px);
}

@media (min-width: 783px) {
	.admin-bar {
		--wp-site-blocks--min-height: calc(100vh - 32px);
	}
}

/**
 * Formats.
 */

.has-gradient-text {
	display: inline-block;
	background: currentColor;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	color: inherit;
}

.has-inline-icon:before {
	content: '';
	background: var(--wp--custom--icon--color, currentColor);
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: text-bottom;
	-webkit-mask-image: var(--wp--custom--icon--url);
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: cover !important;
}

/**
 * Extensions.
 */

$spread: var(--wp--custom--box-shadow--spread, 0);

@mixin box-shadow {
	content: " ";
	height: var(--wp--custom--icon--height, calc(100% + #{$spread}));
	width: var(--wp--custom--icon--width, calc(100% + #{$spread}));
	z-index: var(--wp--custom--box-shadow--z-index, -1);
	position: absolute;
	left: calc(var(--wp--custom--box-shadow--x, 0) - (#{$spread} / 2));
	top: calc(var(--wp--custom--box-shadow--y, 1px) - (#{$spread} / 2));
	filter: blur(var(--wp--custom--box-shadow--blur, 2px));
	background: var(--wp--custom--box-shadow--color);
	border-radius: inherit;
}

.has-box-shadow {
	position: relative;

	&:before {
		@include box-shadow;
	}
}

.is-style-icon.has-box-shadow {

	&:before {
		display: none;
	}

	> div:before {
		@include box-shadow;
		width: 100%;
		height: 100%;
	}
}

.is-style-icon {
	display: flex;
	width: var(--wp--custom--icon-container--width, 100%);

	&.aligncenter {
		justify-content: center;
	}

	&.alignright {
		justify-content: flex-end;
	}
}

.is-nowrap {
	--wp--custom--icon-container--width: auto;
}

.blockify-icon {
	display: block;
	background: var(--wp--custom--icon--background, transparent);
	border-radius: inherit;
	margin-left: auto;
	margin-right: auto;

	&:after {
		content: '';
		display: inline-block;
		position: relative;
		background: var(--wp--custom--icon--color, currentColor);
		height: var(--wp--custom--icon--size, 30px);
		width: var(--wp--custom--icon--size, 30px);
		vertical-align: text-bottom;
		-webkit-mask-image: var(--wp--custom--icon--url);
		-webkit-mask-position: center;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: cover !important;
	}
}

/**
 * Settings.
 */

:where([style*=border-width]):not([style*=border-color]) {
	border-color: var(--wp--custom--border--color, currentColor);
}

// 781px hardcoded in core.
@media (max-width: 781px) {
	.is-reverse-on-mobile {
		flex-direction: column-reverse;
	}

	.is-nowrap.is-reverse-on-mobile {
		flex-direction: row-reverse;
	}
}
