.wp-block-group {

	.wp-block-column > & {
		max-width: 100% !important;
	}

	&.is-vertical {
		flex-direction: column;
		gap: 1em;
	}
}

// Gutenberg override.
:where(.wp-block-group.has-background) {
	padding: 0;
}
