.wp-block-image {
	display: flex;
	flex-wrap: wrap; // Captions.

	&:not(.is-placeholder) {
		border: 0 !important;
	}

	&:not(.is-style-icon) > div {
		max-width: 100% !important;
	}

	svg {
		max-width: 100%;
	}

	&:not(.is-placeholder) {

		svg:not(.components-placeholder__illustration) {
			height: auto;
		}
	}

	a {
		display: inherit;
		object-position: inherit;
	}

	&[style*="-radius"] {

		img {
			border-radius: inherit;
		}
	}
}

figure.wp-block-image {
	text-align: center;

	&.aligncenter {
		display: block;
	}

	img {
		display: block;
		height: auto;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		object-position: inherit;
	}
}
