$gap: var(--wp--custom--navigation--padding, var(--wp--preset--spacing--xs, 1em));

.wp-block-navigation {

	a {
		text-decoration: inherit;
	}

	.wp-block-navigation &-item {
		background: inherit !important;
		border-radius: inherit;
	}

	.wp-block-navigation-item:not(.has-background) {
		background: transparent;
	}

	.wp-block-navigation-item__content {
		display: flex;
		padding: 0;

		&:hover,
		&:focus {
			color: var(--wp--custom--link--hover--color, currentColor);
		}

		&.wp-block-navigation-submenu__toggle {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.wp-block-pages-list__item {
		width: auto;
	}

	&:not(.is-responsive,.is-vertical) {
		margin: auto;
	}

	&__container {

		&.items-justified-right {
			margin-right: 0;
		}
	}
}

/**
 * Responsive container.
 */

.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
	background: var(--wp--custom--body--background, #fff);
	color: currentcolor; // #000 hardcoded in core.
}

.wp-block-navigation.has-backdrop-filter {
	-webkit-backdrop-filter: none !important;
	backdrop-filter: none !important;

	.wp-block-navigation__responsive-container.is-menu-open {
		-webkit-backdrop-filter: var(--wp--custom--nav--filter, blur(10px));
		backdrop-filter: var(--wp--custom--nav--filter, blur(10px));
		background-color: transparent;

		&:before {
			content: '';
			position: fixed;
			inset: 0;
			background: var(--wp--custom--nav--background-color, inherit);
			opacity: 0.5;
			z-index: -1;
		}
	}
}

.wp-block-navigation__responsive-container-close,
.wp-block-navigation__responsive-container-open {
	background: transparent !important;
	color: currentcolor !important;

	svg {
		width: 1.5em;
		height: 1.5em;
	}
}

.wp-block-navigation__responsive-container {

	&.is-menu-open {
		--wp--custom--nav--padding: 0;

		top: var(--wp-admin--admin-bar--height, 0);
		padding: var(--wp--preset--spacing--md);
		min-height: 100vh;

		.wp-block-navigation__responsive-container-content {

			.wp-block-navigation-item {
				padding-top: var(--wp--custom--nav--padding, 0);
				padding-bottom: var(--wp--custom--nav--padding, 0);
			}

			.wp-block-navigation__container {
				gap: $gap;
			}
		}
	}
}

.wp-block-navigation:not(.is-vertical) .wp-block-navigation__responsive-container-content {
	row-gap: 0;
}

.has-modal-open .admin-bar .wp-block-navigation__responsive-dialog {
	margin-top: 0 !important;
}

nav.wp-block-navigation.has-position-static {

	.wp-block-navigation__responsive-container,
	.wp-block-navigation__responsive-dialog {
		position: static;
	}
}

// Theme.json doesn't work.
.wp-block-navigation:not(.is-vertical) .wp-block-navigation-item {
	margin-bottom: 0;
}

ul.wp-block-navigation__container > li,
.wp-block-page-list .wp-block-pages-list__item,
.has-mega-menu {
	padding-top: var(--wp--custom--nav--padding, 0);
	padding-bottom: var(--wp--custom--nav--padding, 0);
}

/**
 * Vertical.
 */

.wp-block-navigation.is-vertical {

	.wp-block-navigation-item {
		padding: 0;
		flex-wrap: wrap;
	}
}

.wp-block-navigation__responsive-container .current-menu-item > .wp-block-navigation-item__content,
.wp-block-navigation__responsive-container .wp-block-navigation-link a:hover,
.wp-block-navigation__responsive-container .wp-block-navigation-link a:focus {
	color: var(--wp--custom--link--hover--color, currentColor);
}

:where(.wp-block-navigation.has-background .wp-block-navigation-item a:not(.wp-element-button)),
.wp-block-navigation ul.has-background {
	padding: 0;
}

@media (max-width: 782px) {

	.wp-block-navigation {

		.wp-block-navigation-item.has-child {
			padding-bottom: 0;
		}
	}

	// Make button font size slightly large on mobile.
	.is-responsive .wp-block-navigation__responsive-container-open:not(.always-shown) {

		&,
		& + .wp-block-navigation__responsive-container .wp-block-navigation__responsive-container-close {
			font-size: var(--wp--custom--navigation-button--font-size, 120%);
		}

		& + .wp-block-navigation__responsive-container .wp-block-navigation__container {
			font-size: var(--wp--custom--navigation--font-size--mobile, 110%);
		}
	}
}

// Reset needed as default is too low (600px).
@media (min-width: 600px) {

	.wp-block-navigation__responsive-container-open:not(.always-shown) {
		display: flex;
	}

	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) .wp-block-navigation__responsive-container-close {
		display: flex;
	}

	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
		display: none;
		width: initial;
		position: initial;
		z-index: auto;
		background-color: inherit;
	}
}

// Use same breakpoint as core columns block for consistency.
// TODO: Allow custom breakpoint.
@media (min-width: 782px) {

	.is-vertical ul li {
		padding: 0;
	}

	.wp-block-navigation__responsive-container-open:not(.always-shown) {
		display: none !important;
	}

	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) .wp-block-navigation__responsive-container-close {
		display: none;
	}

	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
		display: block;
		width: 100%;
		position: relative;
		z-index: auto;
		background-color: inherit;
	}

	.wp-block-navigation-item__label {
		white-space: nowrap !important;
		display: block;
	}
}

@import "navigation-submenu";
