@import "../abstracts/text-gradient";

.wp-block-post-excerpt {

	&__excerpt {
		margin: inherit;
	}

	&__more-text {
		margin-bottom: inherit;
	}

	&__more-link {

		.hide-read-more & {
			display: none;
		}
	}

	&[class*="-gradient-background"]:not(.has-text-color),
	&[style*="-gradient("]:not(.has-text-color) {

		@include text-gradient;
	}
}
