.wp-block-post-author {
	align-items: center;
	gap: calc(var(--wp--style--block-gap, 1em) / 2);

	&__byline {
		font-size: var(--wp--custom--byline--font-size, 1em);

		&::after {
			content: " ";
		}
	}

	&__avatar {
		display: flex;
		border-radius: inherit;
		margin-right: 0;

		img {
			border-radius: inherit;
		}
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
	}
}

