$gap: var(--wp--style--block-gap, 1em);

.wp-block-post-template {
	display: flex;
	flex-wrap: wrap;
	gap: var(--wp--style--block-gap, inherit) !important; // Theme.json doesn't work.

	// For core/post-featured-image block placeholders.
	&[class*="columns"] {
		--wp--custom--placeholder--aspect-ratio: 3/2;
		--wp--custom--placeholder--transform: skewX(-56.4deg);
	}
}

// Post block does not load theme.json styles.
.wp-block-post {
	margin-top: var(--wp--custom--post--margin-top, 0) !important;
	width: 100%;
}

@media (min-width: 600px) {

	.wp-block-post-template.is-flex-container.is-flex-container.columns-2 > li {
		width: calc((100% - #{$gap}) / 2);
	}

	.wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li {
		width: calc((100% - (#{$gap} * 2)) / 3);
	}

	.wp-block-post-template.is-flex-container.is-flex-container.columns-4 > li {
		width: calc((100% - (#{$gap} * 3)) / 4);
	}

	.wp-block-post-template.is-flex-container.is-flex-container.columns-5 > li {
		width: calc((100% - (#{$gap} * 4)) / 5);
	}

	.wp-block-post-template.is-flex-container.is-flex-container.columns-6 > li {
		width: calc((100% - (#{$gap} * 5)) / 6);
	}
}
