.wp-block-table {
	border-radius: var(--wp--custom--border--radius, 0);

	&.is-style-stripes,
	thead,
	tfoot {
		border: 0;
	}

	&.is-style-stripes tbody tr:nth-child(odd) {
		background-color: var(--wp--preset--color--white);
	}

	td,
	th {
		padding: var(--wp--custom--table-cell--padding, 1em);
		border-color: var(--wp--custom--border--color, inherit);
	}

	table {
		border-collapse: separate;
		border-width: calc(var(--wp--custom--border--width, 1px) / 2);

		td,
		th {
			border-width: calc(var(--wp--custom--border--width, 1px) / 2);
		}

		thead + tbody {

			td {
				border-top-left-radius: 0 !important;
				border-top-right-radius: 0 !important;
			}
		}
	}
}
