.wp-block-template-part {
	width: 100%;
}

header.wp-block-template-part {

	&:not(.has-z-index) {
		z-index: 3;
	}

	&:not([class*="has-position-"]) {
		position: var(--wp--custom--header--position, relative);
	}
}

footer.wp-block-template-part {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;

	> * {
		width: 100%;
	}
}

// TODO: Check this.
@media (min-width: 600px) {

	.wp-block-post-template.is-flex-container.is-flex-container.columns-2 > li {
		width: calc(50% - (var(--wp--custom--spacing--gap) * 0.5));
	}
}
