@import "../abstracts/align-full";
@import "../abstracts/align-wide";
@import "../abstracts/align-center";

.alignfull {
	@include alignfull;
}

.alignwide {
	@include alignwide;
}

.aligncenter {
	@include aligncenter;
}


.inherit-layout > *:not(.alignfull,.alignwide) {
	max-width: var(--wp--custom--layout--content-size);
}

// TODO: Check if still needed.
[style*='--wp--custom--layout--content-size'] > *:not(.alignfull,.alignwide) {
	max-width: var(--wp--custom--layout--content-size);
}

[style*='--wp--custom--layout--content-size'] > *:not([class*=' align']) {
	margin-left: auto;
	margin-right: auto;
}
