.is-placeholder {
	position: relative;
	width: 100%;
	height: auto;
	display: block;
	border-width: 1px;
	border-style: dashed;
	border-color: var(--wp--custom--border--color, currentColor);
	border-radius: var(--wp--custom--border--radius);
	aspect-ratio: 16/9;
}

// Used by image, post-featured-image, and site-logo.
.wp-block-image__placeholder {
	display: block;
	clear: both;
	stroke: var(--wp--custom--border--color, currentColor);
	stroke-dasharray: 3;
	box-sizing: initial;
	height: 100%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}
