.inline-svg {
	width: var(--width, 1em) !important;
	height: var(--height, 1em) !important;
	display: inline-flex;

	@media (min-width: 782px) {
		width: var(--width-desktop, var(--width, 1em)) !important;
		height: var(--width-desktop, var(--width, 1em)) !important;
	}
}

// Fallback if conversion to svg fails.
.has-inline-svg {
	width: var(--width, 1em);
	height: var(--width, 1em);
	display: inline-flex;
	overflow: hidden; // For alt text.
	text-indent: 100%;
	white-space: nowrap;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	-webkit-mask-position: center bottom;

	@media (min-width: 782px) {
		width: var(--width-desktop, var(--width, 1em));
		height: var(--width-desktop, var(--width, 1em));
	}

	[alt]:after {
		opacity: 0;
	}

	// For older versions using src attribute.
	&:not([src*="svg"]) {
		background: currentColor;
	}
}
