$padding: var(--wp--custom--button--padding-top, 1em) var(--wp--custom--button--padding-right, 1.5em) var(--wp--custom--button--padding-bottom, 1em) var(--wp--custom--button--padding-left, 1.5em);

@mixin button {
	width: var(--wp--custom--button--width, auto); // Not generated.
	height: auto; // Editor component button styles.
	color: var(--wp--custom--button--color, inherit);
	background: var(--wp--custom--button--background, inherit);
	padding: $padding;
	border-radius: var(--wp--custom--button--border-radius, inherit);
	border-width: var(--wp--custom--button--border-width);
	font-size: var(--wp--custom--button--font-size);
	font-weight: var(--wp--custom--button--font-weight);
	line-height: 1; // Force line height (unknown parent).
	display: inline-block;
	text-decoration: none;
	box-shadow: var(--wp--custom--button--box-shadow);
	cursor: pointer;
}
