@mixin divider($mask: "") {

	&::before {
		content: "";
		display: block;
		position: absolute;
		background: currentcolor;
		width: calc(100% + 1px);
		height: calc(100% + 1px);

		@if ($mask) {
			mask: $mask;
			-webkit-mask: $mask;
		}
	}
}
