@mixin ghost {
	background: transparent !important;
	position: relative;
	z-index: 0;

	&:hover {

		&::before {
			opacity: var(--wp--custom--ghost--hover--opacity, 0.2);
		}
	}

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: currentcolor;
		opacity: var(--wp--custom--ghost--opacity, 0.1);
		transition: var(--wp--custom--transition);
		border-radius: inherit;
		z-index: -1;

		.is-style-dark & {
			opacity: var(--wp--custom--dark-mode--ghost--opacity, 0.12);
		}

		@media(prefers-color-scheme: dark) {

			.default-mode-auto:not(.is-style-light):not(.is-style-dark) & {
				opacity: var(--wp--custom--dark-mode--ghost--opacity, 0.12);
			}

			.default-mode-light:not(.is-style-dark) & {
				opacity: var(--wp--custom--ghost--opacity, 0.1);
			}
		}
	}
}
