@import "../abstracts/border";

$border: var(--wp--custom--surface--border-width, $border-width) var(--wp--custom--surface--border-style, $border-style) var(--wp--custom--surface--border-color, $border-color);

@mixin surface {
	background: var(--wp--custom--surface--background, var(--wp--preset--color--surface));
	border-top: var(--wp--custom--surface--border--top, $border);
	border-right: var(--wp--custom--surface--border--right, $border);
	border-bottom: var(--wp--custom--surface--border--bottom, $border);
	border-left: var(--wp--custom--surface--border--left, $border);
	border-radius: var(--wp--custom--surface--border-radius, $border-radius);
	padding: var(--wp--custom--surface--padding, var(--wp--preset--spacing--sm));
	box-shadow: var(--wp--custom--surface--box-shadow);
	backdrop-filter: var(--wp--custom--surface--backdrop-filter, none);
	position: relative;

	.is-style-surface {
		background: var(--wp--custom--surface--surface--background, inherit);
	}

	// Overlay.
	&::before {
		content: "";
		display: block;
		position: absolute;
		inset: 0;
		background: var(--wp--custom--surface-overlay--background, transparent);
		opacity: var(--wp--custom--surface-overlay--opacity, 0);
		border-radius: inherit;
		pointer-events: none;
	}

	> * {
		position: relative;
	}
}
