.wp-element-button {
	position: relative;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	white-space: pre;
	transition: var(--wp--custom--transition, inherit);
	background-clip: padding-box !important; // Semi transparent borders.
	cursor: pointer;

	// Gutenberg .wp-element-button workaround. Also used by input.
	width: var(--wp--custom--button--width, auto); // Not generated.
	color: var(--wp--custom--button--color, inherit);
	padding: var(--wp--custom--button--padding-top, 1em) var(--wp--custom--button--padding-right, 1.5em) var(--wp--custom--button--padding-bottom, 1em) var(--wp--custom--button--padding-left, 1.5em);
	border-radius: var(--wp--custom--button--border-radius, inherit);
	border-width: var(--wp--custom--button--border-width);
	font-size: var(--wp--custom--button--font-size);
	font-weight: var(--wp--custom--button--font-weight);
	line-height: var(--wp--custom--button--line-height);

	br + span {
		width: 100%;
		margin-top: .5em;
	}

	&:active,
	&:hover,
	&:focus {
		opacity: var(--wp--custom--button--hover-opacity, .82);
	}
}

// Commonly used class. (wp.org, woocommerce, etc.). !important for EDD.
.button {
	width: var(--wp--custom--button--width, auto); // Not generated.
	color: var(--wp--custom--button--color, inherit) !important;
	background: var(--wp--custom--button--background, inherit) !important;
	padding: var(--wp--custom--button--padding-top, 1em) var(--wp--custom--button--padding-right, 1.5em) var(--wp--custom--button--padding-bottom, 1em) var(--wp--custom--button--padding-left, 1.5em) !important;
	border-radius: var(--wp--custom--button--border-radius, inherit) !important;
	border-width: var(--wp--custom--button--border-width) !important;
	font-size: var(--wp--custom--button--font-size) !important;
	font-weight: var(--wp--custom--button--font-weight) !important;
	line-height: var(--wp--custom--button--line-height) !important;

	&[type=reset] {
		background: var(--wp--preset--color--neutral-50);
		color: inherit;
		margin-bottom: 1em;
		width: auto;
	}
}
