.wp-element-button {
	position: relative;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	white-space: pre;
	width: var(--wp--custom--button--width, auto);
	transition: var(--wp--custom--transition, inherit);
	background-clip: padding-box !important; // Semi transparent borders.
	color: var(--wp--custom--button--color, inherit);
	background: var(--wp--custom--button--background, inherit);

	br + span {
		width: 100%;
		margin-top: .5em;
	}

	&:not(.wp-block-button__link) {

		&:active,
		&:hover,
		&:focus {
			opacity: var(--wp--custom--button--hover-opacity, .82);
		}
	}
}
