label {
	display: block;
}

fieldset {
	padding: var(--wp--style--block-gap, 0);
	border: var(--wp--custom--border, 0);
}

input,
optgroup,
select,
textarea {
	font: inherit;
	transition: var(--wp--custom--transition, inherit);
	border: var(--wp--custom--border, 0);
	background: var(--wp--custom--input--background, transparent);
	width: var(--wp--custom--input--width, 100%);
	outline: none;

	&:focus {
		border-color: var(--wp--custom--input-focus--border-color, var(--wp--preset--color--primary-600, currentColor));
	}
}

// Match .wp-element-button workaround. Line height doens't work.
input:not([type=checkbox], [type=submit]) {
	padding: var(--wp--custom--button--padding-top, 1em) var(--wp--custom--button--padding-top, 1.2em) var(--wp--custom--button--padding-bottom, 1em);
	border-radius: var(--wp--custom--button--border-radius, inherit);
	font-size: var(--wp--custom--button--font-size);
	height: calc(1em + var(--wp--custom--button--padding-top, 1em) + var(--wp--custom--button--padding-bottom, 1em) + (var(--wp--custom--border--width, 1px) * 2));
}

textarea {
	padding: var(--wp--custom--button--padding-top, 1em) var(--wp--custom--button--padding-top, 1.2em) var(--wp--custom--button--padding-bottom, 1em);
	border-radius: var(--wp--custom--button--border-radius, inherit);
	font-size: var(--wp--custom--button--font-size);
}

::placeholder {
	color: var(--wp--custom--placeholder--color, var(--wp--preset--color--neutral-300, inherit));
}

::-webkit-input-placeholder {
	color: var(--wp--custom--placeholder--color, var(--wp--preset--color--neutral-300, inherit));
}
