label {
	display: block;
}

fieldset {
	padding: var(--wp--style--block-gap, 0);
	border: var(--wp--custom--border, 0);
}

input,
optgroup,
select,
textarea {
	font: inherit;
	transition: var(--wp--custom--transition, inherit);
	border: var(--wp--custom--border, 0);
}

input:not([type=checkbox], [type=submit]) {
	padding: 1em;
	width: 100%;
	background-color: transparent;
	border: var(--wp--custom--border, initial);
	border-radius: var(--wp--custom--border--radius);
}

input[type=submit] {
	border: 0;
	width: 100%;
}

::placeholder {
	color: inherit;
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.5;
}
