html {
	max-width: 100vw;
	padding: 0 !important;
	box-sizing: border-box;
	overflow-y: overlay; // Absolute positioned scrollbar.
	overflow-y: -webkit-paged-y; // Safari.
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-animation: fade-in var(--wp--custom--transition);
	-moz-animation: fade-in var(--wp--custom--transition);
	-o-animation: fade-in var(--wp--custom--transition);
	animation: fade-in var(--wp--custom--transition);

	@media (prefers-reduced-motion: no-preference) {
		& {
			scroll-behavior: smooth;
		}
	}
}
