a {
	transition: var(--wp--custom--transition, inherit);

	&:hover,
	&:focus,
	&:active {
		--wp--custom--link--box-shadow: 0 var(--wp--custom--border--width, 0.05em) 0 currentColor;
	}
}

a:not(
	.wp-element-button,
	.wp-block-button__link,
	.wp-block-navigation-item__content,
	[rel="home"],
	[role="textbox"],
	[target="_self"]
	) {
	box-shadow: var(--wp--custom--link--box-shadow, none);
}
