@import "../abstracts/ghost.scss";

.is-style-badge,
.is-style-badges > *:not(.wp-block-query-pagination-numbers),
.is-style-badges .page-numbers {
	position: relative;
	padding: var(--wp--custom--badge--padding, 0.5em 0.75em);
	margin-left: 0;
	margin-right: 0;
	border-radius: var(--wp--custom--border--radius, 4px);
	text-decoration: none;
	line-height: 1;

	@include ghost;

	&:hover {
		--wp--custom--dark-mode--ghost--opacity: .12;
	}
}

.is-style-badges {
	display: flex;
	flex-wrap: wrap;
	gap: var(--wp--custom--button--gap, 8px);

	.wp-block-post-terms__separator,
	.justify-center__separator {
		display: none;
	}

	&.has-text-align-right {
		justify-content: flex-end;
	}

	.page-numbers {
		display: inline-flex;
	}

	.wp-block-query-pagination-numbers {
		display: flex;
		justify-content: space-between;
		gap: inherit;
	}
}
