@import "../abstracts/button.scss";
@import "../abstracts/ghost.scss";

.is-style-ghost {

	&:not(.wp-block-button) {

		@include ghost;
	}

	.wp-block-button__link {
		@include ghost;

		color: var(--wp--custom--ghost--color, inherit);

		.is-style-dark & {
			color: var(--wp--custom--dark-mode--ghost--color, inherit);
		}

		@media(prefers-color-scheme: dark) {

			.default-mode-auto:not(.is-style-light):not(.is-style-dark) & {
				color: var(--wp--custom--dark-mode--ghost--color, inherit);
			}
		}
	}
}

