@import "../abstracts/text-gradient";

.is-style-curved-text {
	display: flex;
	position: relative;
	margin: 0 !important;

	svg {
		opacity: 1 !important;
		position: relative !important;
		z-index: 0 !important;
	}
}
