@import "../abstracts/text-gradient";

.is-style-sub-heading {
	line-height: var(--wp--custom--sub-heading--line-height);
	font-weight: var(--wp--custom--sub-heading--font-weight, var(--wp--custom--font-weight--semi-bold));
	text-transform: var(--wp--custom--sub-heading--text-transform, uppercase);
	letter-spacing: var(--wp--custom--sub-heading--letter-spacing, 0.1em);
	word-break: break-word;
	background: var(--wp--custom--sub-heading--background, transparent);
	color: var(--wp--custom--sub-heading--color, currentColor);
	border-radius: var(--wp--custom--sub-heading--border-radius, var(--wp--custom--border--radius));
	padding: var(--wp--custom--sub-heading--padding, 0);

	&:not([class*="-font-size "]) {
		font-size: var(--wp--custom--sub-heading--font-size, var(--wp--preset--font-size--12, 12px));
	}

	&[class*="-gradient-background"] {

		@include text-gradient;
	}
}
