<!-- wp:template-part {"slug":"header","tagName":"header","position":"absolute"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"inherit":true}} -->
<main class="wp-block-group alignfull">
	<!-- wp:pattern {"slug":"blockify/hero-center"} /-->
	<!-- wp:pattern {"slug":"blockify/feature-icons"} /-->
	<!-- wp:pattern {"slug":"blockify/feature-images"} /-->
	<!-- wp:pattern {"slug":"blockify/pricing-three-column"} /-->
	<!-- wp:pattern {"slug":"blockify/testimonials-three-column"} /-->
	<!-- wp:pattern {"slug":"blockify/cta-center"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
