<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"3em","bottom":"3em"}}},"layout":{"inherit":true}} -->
<div class="wp-block-group" style="padding-top:3em;padding-bottom:3em"><!-- wp:heading {"textAlign":"center","level":1,"style":{"spacing":{"margin":{"bottom":"1em"}}}} -->
	<h1 class="has-text-align-center" style="margin-bottom:1em">Search results</h1>
	<!-- /wp:heading -->

	<!-- wp:query {"queryId":17,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":3},"align":"wide","style":{"spacing":{"padding":{"top":"0.02em","right":"0.02em","bottom":"0.02em","left":"0.02em"}}}} -->
	<div class="wp-block-query alignwide alignwide" style="padding-top:0.02em;padding-right:0.02em;padding-bottom:0.02em;padding-left:0.02em"><!-- wp:group -->
		<div class="wp-block-group"><!-- wp:post-template -->
			<!-- wp:post-featured-image {"isLink":true} /-->

			<!-- wp:post-title {"isLink":true} /-->

			<!-- wp:post-excerpt /-->
			<!-- /wp:post-template --></div>
		<!-- /wp:group --></div>
	<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
