<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"3em","bottom":"3em"}}},"layout":{"inherit":true}} -->
<div class="wp-block-group" style="padding-top:3em;padding-bottom:3em">
	<!-- wp:post-title {"textAlign":"center","level":1} /-->
	<!-- wp:group {"style":{"spacing":{"padding":{"bottom":"3em"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
	<div class="wp-block-group" style="padding-bottom:3em"><!-- wp:post-date /-->
		<!-- wp:post-terms {"term":"category"} /--></div>
	<!-- /wp:group -->
	<!-- wp:post-content /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
