@import "../abstracts/button.scss";
@import "../abstracts/ghost.scss";

#{$buttons} {

	@include button;

	br + span {
		width: 100%;
		margin-top: 0.5em;
	}

	&:active,
	&:hover,
	&:focus,
	&.is-focus {
		opacity: var(--wp--custom--button--hover-opacity, 0.82);
	}

	.nowrap & {
		flex-wrap: nowrap;
	}

	&:not(.has-background) {
		background: var(--wp--custom--button--background);
	}

	&.is-style-ghost {

		@include ghost;

		color: var(--wp--custom--ghost--color, inherit);

		.is-style-dark & {
			color: var(--wp--custom--dark-mode--ghost--color, inherit);
		}

		@media(prefers-color-scheme: dark) {

			.default-mode-auto:not(.is-style-light):not(.is-style-dark) & {
				color: var(--wp--custom--dark-mode--ghost--color, inherit);
			}
		}
	}
}

.is-style-badges,
.is-style-small {
	--wp--custom--button--font-size: 12px;
	--wp--custom--button--padding-top: 6px;
	--wp--custom--button--padding-right: 12px;
	--wp--custom--button--padding-bottom: 6px;
	--wp--custom--button--padding-left: 12px;
	--wp--custom--button--gap: 6px;
}

.is-style-large {
	--wp--custom--button--font-size: 16px;
	--wp--custom--button--padding-top: 12px;
	--wp--custom--button--padding-right: 20px;
	--wp--custom--button--padding-bottom: 12px;
	--wp--custom--button--padding-left: 20px;
	--wp--custom--button--gap: 8px;
}

[type="reset"] {
	background: var(--wp--preset--color--surface);
	color: inherit;
	margin-bottom: 1em;
	width: auto;
}
