@import "../abstracts/button";

.wp-element-button {
	position: relative;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	white-space: pre !important; // Added as inline style in editor.
	transition: var(--wp--custom--transition, inherit);
	background-clip: padding-box !important; // Semi transparent borders.
	cursor: pointer;
	width: var(--wp--custom--button--width, auto); // Not generated.

	&:not(.has-background) {
		background: var(--wp--custom--button--background);
	}

	br + span {
		width: 100%;
		margin-top: .5em;
	}

	&:active,
	&:hover,
	&:focus {
		opacity: var(--wp--custom--button--hover-opacity, .82);
	}

	.nowrap & {
		flex-wrap: nowrap;
	}
}

// Commonly used class. (wp.org, woocommerce, etc.). !important for EDD.
.button,
.is-style-button,
[type="submit"],
[type="button"]:not(.wp-block-social-link-anchor,.components-button,[id*="mce"]) {

	@include button;
}

[type=reset] {
	background: var(--wp--preset--color--surface);
	color: inherit;
	margin-bottom: 1em;
	width: auto;
}
