$border_width: var(--wp--custom--border--width, 1px);
$border_color: var(--wp--custom--border--color, currentColor);
$size: 1.2em;

input[type="checkbox"] {
	appearance: none;
	width: $size;
	height: $size;
	margin: 0.1em 0.66em 0 0;
	border: $border_width solid $border_color;
	border-radius: 0.33em;
	display: inline-grid;
	place-content: center;
	color: var(--wp--preset--color--primary, currentColor);

	&::before {
		content: "";
		width: $size;
		height: $size;
		border-radius: 0.33em;
		transform: scale(0);
		clip-path: polygon(22% 44%, 10% 60%, 46% 87%, 92% 30%, 75% 17%, 42% 59%);
		transition: var(--wp--custom--transition);
		background: var(--wp--custom--body--background, currentColor);
	}

	&:checked {
		background-color: currentColor;
	}

	&:checked::before {
		transform: scale(.66);
	}

	&:focus {
		border-color: var(--wp--custom--border--color, currentColor);
		outline: $border_width solid currentColor;
		outline-offset: $border_width;
	}
}
