// Allows emoji highlights and gradients.
.has-inline-color:not([style*=background]) {
	padding: 0;
	background: currentcolor !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;

	.wp-element-button & {
		line-height: 1;
	}
}
